/projetoapp/projetoapp/__pycache__/*
/projetoapp/apps/adocao/__pycache__/*
/projetoapp/apps/adocao/migrations/*
/projetoapp/apps/animal/__pycache__/*
/projetoapp/apps/animal/migrations/*
/projetoapp/apps/consulta/__pycache__/*
/projetoapp/apps/consulta/migrations/*
/projetoapp/apps/especie/__pycache__/*
/projetoapp/apps/especie/migrations/*
/projetoapp/apps/ong/__pycache__/*
/projetoapp/apps/ong/migrations/*
/projetoapp/apps/raca/__pycache__/*
/projetoapp/apps/raca/migrations/*
/projetoapp/apps/tutor/__pycache__/*
/projetoapp/apps/tutor/migrations/*
/projetoapp/apps/veterinario/__pycache__/*
/projetoapp/apps/veterinario/migrations/*